<div>(The map is limited to showing a maximum of 50 results.)</div>
{{google-map lat=centerLat
             lng=centerLng
             zoom=zoom
             autoFitBounds=true
             gopt_zoomControl=true
             markers=allmarkers
             type='map'}}