<div class="page-header">
	<h1>
		{{#link-to 'index'}}Dashboard{{/link-to}}
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			overview &amp; stats
		</small>
	</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="alert alert-block alert-success">
			<button type="button" class="close" data-dismiss="alert">
				<i class="ace-icon fa fa-times"></i>
			</button>

			<i class="ace-icon fa fa-check"></i>

			Welcome to NAG Access. 
		</div>
	</div>
	<div>
		<p>This page has been reserved for future use. It will include stats and general points of interest such as:</p>
		<ul>
			<li>New organisations</li>
			<li>Organisations with incomplete data</li>
			<li>Latest organisation survey (profile) submissions</li>
			<li>Organisations with expiring dues/membership</li>
			<li>Aggregated statistics such as
				<ul>
					<li>Total beneficiaries</li>
					<li>Total staff supported</li>
					<li>Total external donations</li>
					<li>Other? Financials? Legal? etc</li>
				</ul>
			</li>
			<li>Other?</li>
		</ul>
	</div>
</div>