{{#widget-box classNames="forgot-box visible no-border" id="forgot-box"}}
	{{#widget-box-body}}
		<div class="widget-main">
			<h4 class="header red lighter bigger">
				<i class="ace-icon fa fa-key"></i>
				Password Recovery
			</h4>
			
			{{#if hasError}}
				<div class="alert alert-danger">Please enter a valid email address</div>
			{{/if}}
			
			<form {{action 'recoverPassword' on="submit"}}>
				<fieldset>
					<label class="block clearfix">
						<span class="block input-icon input-icon-right">
							{{input value=email type="email" class="form-control" placeholder="Email"}}
							<i class="ace-icon fa fa-envelope"></i>
						</span>
					</label>

					<div class="clearfix">
						<button type="submit" class="pull-right btn btn-sm btn-info">
							<span class="bigger-110">Recover My Password</span>
						</button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="toolbar center">
			{{#link-to 'security.login' classNames="back-to-login-link"}}
				Back to login
				<i class="ace-icon fa fa-arrow-right"></i>
			{{/link-to}}
		</div>
	{{/widget-box-body}}
{{/widget-box}}