<strong>{{#link-to 'organizations.edit.profile' id}}{{title}}{{/link-to}}</strong>
<p>Something here...</p>
<p>
  Coordinates:<br>
  <small>
    <code>{{lat}}</code>,<code>{{lng}}</code>
  </small>
</p>