{{#ember-modal title='Confirm delete' ok='delete' close='removeModal' okBtnText='Delete'}}
  <p>Are you sure you want to delete <strong>{{model.firstName}} ({{model.email}})</strong>?</p>
{{/ember-modal}}