{{#ember-modal title='Edit User' ok='save' close='removeModal' okBtnText='Save'}}
<div>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="email">Email Address:</label>

			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					{{input
					  type="text"
					  id="email"
					  class="col-xs-12 col-sm-6"
					  value=model.email}}
				</div>
			</div>
		</div>

		<div class="space-2"></div>

		<div class="form-group">
			<label class="control-label col-xs-12 col-sm-2 no-padding-right" for="role">Security Role(s):</label>

			<div class="col-xs-12 col-sm-9">
				<div class="clearfix">
					{{view "select"
						content=roles
						selectionBinding=model._roles
				        multiple="true"
				        optionTitlePath="content.desc"
				        optionLabelPath="content.display"
				        optionValuePath="content.id"}}
				</div>
			</div>
		</div>
	</form>
</div>
{{/ember-modal}}