<div class="breadcrumbs" id="breadcrumbs">
	{{bread-crumbs}}
	<div class="nav-search" id="nav-search">
		<form class="form-search">
			{{#nag-es-autocomplete options=codes selectedValue=model.code placeHolderText="Find a thing" noMesssagePlaceHolderText="No things are found" as |result|}}
			  <p><b>{{result.code}}</b></p>
			{{/nag-es-autocomplete}}
		</form>
	</div>
</div>
