<div class="footer">
	<div class="footer-inner">
		<div class="footer-content">
			<span class="bigger-120">
				<span class="blue bolder">Network Action Group</span> &copy; 2014-{{view.currentYear}}
			</span>

			&nbsp; &nbsp;
			<span class="action-buttons">
				<a href="https://twitter.com/nag_org_za">
					<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
				</a>

				<a href="https://www.facebook.com/networkactiongroup">
					<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
				</a>
			</span>
		</div>
	</div>
</div>