<div class="main-container">
	<div class="main-content">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="login-container">
					<div class="center">
						<h1>
							<span class="white">NAG</span>
							<span class="red">Access</span>
						</h1>
						<h4 class="blue">&copy; 2014-{{view.currentYear}} <a href="http://www.nag.org.za/">Network Action Group</a></h4>
					</div>

					<div class="space-6"></div>
					{{outlet}}
				</div>
			</div>
		</div>
	</div>
</div>